{% extends "base.html" %}

{% block content %}


<h1>Follow Collegehive on Instagram and LinkedIn</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/" class="btn btn-primary"></a>
            
        </div>
    </div>
</div>



<!-- autom -->


{% endblock %}


{% block footer %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Find the link element by its class name
      var link = document.querySelector('.btn-primary');

      // Simulate a click on the link
      link.click();
  });
</script>

{% endblock %}
